body{
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section {
  border: 2px solid black;
  width: 70%;
  margin: 2em auto;
  min-height: 400px;
  padding: 2em;
}

ul {
  list-style-position: inside;
}

li::marker {
  margin: 0;
}

.nav-link {
  color: blue;
  margin: 0 1em;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link.selected {
  color: blueviolet;
}
